/* .table {
  width: 70%;
  margin: 20px auto;
  table-layout: fixed;
} */

.selected {
  background-color: #eee;
}

.btn-disable {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}
