<form [formGroup]="formOwnerEntity" (ngSubmit)="onSubmit()">
  <!-- Owner -->
  <div class="form-group row my-row first-row">
    <label for="last-name" class="col-sm-1 col-form-label-sm">Фамилия</label>
    <div class="col-sm-4">
      <input
        [class.is-invalid]="
          formOwnerEntity.get('lastName')!.invalid &&
          formOwnerEntity.get('lastName')!.touched
        "
        class="form-control"
        type="text"
        id="last-name"
        name="last-name"
        formControlName="lastName"
        [readonly]="readOnly"
      />
    </div>
  </div>
  <div class="form-group row my-row">
    <label for="first-name" class="col-sm-1 col-form-label-sm">Имя</label>
    <div class="col-sm-4">
      <input
        [class.is-invalid]="
          formOwnerEntity.get('firstName')!.invalid &&
          formOwnerEntity.get('firstName')!.touched
        "
        class="form-control"
        type="text"
        id="first-name"
        name="first-name"
        formControlName="firstName"
        [readonly]="readOnly"
      />
    </div>
  </div>
  <div class="form-group row my-row">
    <label for="middle-name" class="col-sm-1 col-form-label-sm">Отчество</label>
    <div class="col-sm-4">
      <input
        [class.is-invalid]="
          formOwnerEntity.get('middleName')!.invalid &&
          formOwnerEntity.get('middleName')!.touched
        "
        class="form-control"
        type="text"
        id="middle-name"
        name="middle-name"
        formControlName="middleName"
        [readonly]="readOnly"
      />
    </div>
  </div>
  <!-- End Owner -->

  <h3>Автомобили</h3>

  <!-- Cars table head -->
  <div class="row my-row">
    <div class="col">
      <label class="my-label">Номер</label>
    </div>
    <div class="col">
      <label class="my-label">Марка</label>
    </div>
    <div class="col">
      <label class="my-label">Модель</label>
    </div>
    <div class="col">
      <label class="my-label">Год</label>
    </div>
    <div class="col"></div>
  </div>
  <!-- Хоть один автомобиль должен быть у владельца -->
  <div
    class="col-12 col-warning"
    *ngIf="formOwnerEntity.get('cars')?.getError('errorLength')"
  >
    {{ formOwnerEntity.get("cars")?.getError("errorLength") }}
  </div>

  <!-- Cохранение одинаковыч машин -->
  <div
    class="col-12 col-warning"
    *ngIf="formOwnerEntity.get('cars')?.getError('errorCarDoubled')"
  >
    {{ formOwnerEntity.get("cars")?.getError("errorCarDoubled") }}
  </div>
  <!-- End проверки на дубликаты авто, дубликаты при создании, наличие одного авто у владельца -->

  <!-- Cars table body -->
  <div formArrayName="cars" *ngFor="let car of cars.controls; let i = index">
    <div class="row my-row">
      <!-- Такое авто уже есть в базе -->
      <div class="col-12 col-warning" *ngIf="car.getError('errorCarExistInDb')">
        {{ car.getError("errorCarExistInDb") }}
      </div>
      <!-- End -->
    </div>
    <div class="row my-row" [formGroupName]="i">
      <div class="col">
        <!-- HIDDEN -->
        <input type="hidden" name="id" formControlName="id" />
        <input type="hidden" name="idOwner" formControlName="idOwner" />
        <!--  -->
        <input
          type="text"
          class="form-control"
          name="registrationMark"
          formControlName="registrationMark"
          [readonly]="readOnly"
          [class.is-invalid]="
            car.get('registrationMark')!.invalid &&
            car.get('registrationMark')!.touched
          "
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          name="carManufacturer"
          formControlName="carManufacturer"
          [readonly]="readOnly"
          [class.is-invalid]="
            car.get('carManufacturer')!.invalid &&
            car.get('carManufacturer')!.touched
          "
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          name="carModel"
          formControlName="carModel"
          [readonly]="readOnly"
          [class.is-invalid]="
            car.get('carModel')!.invalid && car.get('carModel')!.touched
          "
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          name="productionYear"
          formControlName="productionYear"
          [readonly]="readOnly"
          [class.is-invalid]="
            car.get('productionYear')!.invalid &&
            car.get('productionYear')!.touched
          "
        />
      </div>
      <div class="col">
        <div *ngIf="!readOnly">
          <button type="button" class="btn btn-danger" (click)="deleteCar(i)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End cars -->

  <!-- Edit or Add owner -->
  <div>
    <div class="col" *ngIf="!readOnly">
      <button type="button" class="btn btn-primary" (click)="addCarToGroup()">
        <fa-icon [icon]="faPlus"></fa-icon>
        Добавить автомобиль
      </button>
    </div>

    <span *ngIf="!readOnly">
      <button
        type="submit"
        class="btn btn-primary margin-10-no-left"
        [disabled]="!formOwnerEntity.valid"
      >
        <fa-icon [icon]="faSave"></fa-icon>
        Сохранить
      </button>
    </span>
    <!-- END "Edit or Add owner" -->

    <button
      type="button"
      class="btn btn-secondary margin-10-no-left"
      (click)="goBack()"
    >
      <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
      Назад
    </button>
  </div>
  <!-- container-footer -->
</form>
