.form-control {
  margin-bottom: 10px;
}

.margin-10-no-left {
  margin: 10px;
  margin-left: 0;
}

.my-row {
  margin: 5px 0;
}

.first-row {
  margin-top: 20px;
}

.col-warning {
  color: rgb(158, 34, 34);
}

.my-label {
  margin: 0;
}
