.form-control {
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
}

.btn-hide {
  visibility: hidden;
}

.detail-footer {
  margin: 10px 0;
}

.my-row {
  margin: 5px 0;
}

.first-row {
  margin-top: 20px;
}

.my-label {
  margin: 0;
}
