<div class="form-group row my-row first-row">
  <label for="last-name" class="col-sm-1 col-form-label-sm">Фамилия</label>
  <div class="col-sm-4">
    <input
      class="form-control"
      type="text"
      id="last-name"
      [(ngModel)]="owner.lastName"
      [readonly]="readOnly"
    />
  </div>
</div>
<div class="form-group row my-row">
  <label for="first-name" class="col-sm-1 col-form-label-sm">Имя</label>
  <div class="col-sm-4">
    <input
      class="form-control"
      type="text"
      id="first-name"
      [(ngModel)]="owner.firstName"
      [readonly]="readOnly"
    />
  </div>
</div>
<div class="form-group row my-row">
  <label for="middle-name" class="col-sm-1 col-form-label-sm">Отчество</label>
  <div class="col-sm-4">
    <input
      class="form-control"
      type="text"
      id="middle-name"
      [(ngModel)]="owner.middleName"
      [readonly]="readOnly"
    />
  </div>
</div>

<h3>Автомобили</h3>

<div class="row my-row">
  <div class="col">
    <label class="my-label">Номер</label>
  </div>
  <div class="col">
    <label class="my-label">Марка</label>
  </div>
  <div class="col">
    <label class="my-label">Модель</label>
  </div>
  <div class="col">
    <label class="my-label">Год</label>
  </div>
  <div class="col"></div>
</div>
<div class="row my-row" *ngFor="let car of owner.cars">
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.registrationMark"
      [readonly]="readOnly"
    />
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.carManufacturer"
      [readonly]="readOnly"
    />
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.carModel"
      [readonly]="readOnly"
    />
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.productionYear"
      [readonly]="readOnly"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-danger" (click)="deleteCar(car)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>

<div class="detail-footer" *ngIf="!readOnly">
  <button type="submit" class="btn btn-primary" (click)="createCar()">
    <fa-icon [icon]="faPlus"></fa-icon>
    Добавить автомобиль
  </button>
</div>
